<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP Climatización</title>
    <link rel="stylesheet" href="static/css/chat.css">
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header / Navbar -->
    <header>
        <div class="navbar">
            <div class="logo">MP Climatización</div>
            <div class="nav-links">
                <a href="login">Login</a>
                <a href="productos">Tienda</a>
                <a href="servicios">Servicios</a>
                <a href="quiensomo">Acerca de</a>
                <a href="contactanos">Contacto</a>
                <a href="#">Carrito</a>
            </div>
        </div>
    </header>

        <h1>Agregar Producto</h1>
    <form method="POST" action="{% url 'agregar_producto' %}">
        {% csrf_token %}
        <label for="nombre">Nombre del Producto:</label>
        <input type="text" name="nombre" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" required></textarea><br>

        <label for="precio">Precio:</label>
        <input type="number" name="precio" required><br>

        <label for="stock">Stock:</label>
        <input type="number" name="stock" required><br>

        <label for="potencia">Potencia:</label>
        <input type="text" name="potencia" required><br>

        <label for="categoria">Categoría:</label>
        <select name="categoria" required>
            {% for categoria in categorias %}
            <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Agregar Producto</button>
    </form>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <!-- Footer -->
    <div class="flex justify-between p-4 bg-background text-foreground">
        <div>
          <h1 class="text-2xl font-bold">MP Climatización</h1>
          <p class="text-muted-foreground">Hecho con Amor </p>
        </div>
        <div class="flex flex-col">
          <h2 class="font-semibold">Puente Alto</h2>
          <p class="text-muted-foreground">Avenida siempre viva, 123</p>
          <p class="text-muted-foreground">Nueva York, NY 12345</p>
        </div>
        <div class="flex flex-col">
          <h2 class="font-semibold">Papá de nicolas</h2>
          <p class="text-muted-foreground"><a href="mailto:correo@ejemplo.com" class="text-primary hover:underline">correo@ejemplo.com</a></p>
          <p class="text-muted-foreground">(555) 555-5555</p>
        </div>
      </div>
</body>
</html>