<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP Climatización</title>
    <link rel="stylesheet" href="static/css/chat.css">
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
     <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</head>
<body>
    <!-- Header / Navbar -->
    <header>
        <div class="navbar">
            <div class="logo">MP Climatización</div>
            <div class="nav-links">
                <a href="login">Login</a>
                <a href="productos">Tienda</a>
                <a href="servicios">Servicios</a>
                <a href="quiensomo">Acerca de</a>
                <a href="contactanos">Contacto</a>
                <a href="#">Carrito</a>
            </div>
        </div>
    </header>

<!--Inicio Quienes Somos-->
    <div class="bg-card p-4 rounded-lg mt-8 flex items-center">
        <div>
        <h3 class="text-3xl font-bold mb-6">Quiénes Somos</h3>
        <p class="text-muted-foreground">Descubre el futuro del confort con nuestros avanzados sistemas de aire acondicionado. Da el paso hacia la eficiencia y la innovación, agenda tu cita hoy mismo y experimenta un aire más limpio y fresco en cada espacio.</p>
        </div>
        <img src="static/Images/reloj.png" alt="Equipo" class=" h-auto object-cover rounded-lg shadow-lg" width="50%"  />
    </div>

  <!-- Footer -->
  <div class="flex justify-between p-4 bg-background text-foreground">
        <div>
            <h1 class="text-2xl font-bold">MP Climatización</h1>
            <p class="text-muted-foreground">Hecho con Amor </p>
            </div>
                <div class="flex flex-col">
                <h2 class="font-semibold">Puente Alto</h2>
                <p class="text-muted-foreground">Avenida siempre viva, 123</p>
                <p class="text-muted-foreground">Nueva York, NY 12345</p>
            </div>
            <div class="flex flex-col">
            <h2 class="font-semibold">Papá de nicolas</h2>
            <p class="text-muted-foreground"><a href="mailto:correo@ejemplo.com" class="text-primary hover:underline">correo@ejemplo.com</a></p>
            <p class="text-muted-foreground">(555) 555-5555</p>
        </div>
  </div>
</body>
</html>